@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
a {
    text-decoration: none;
    color: #fdfdfd;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 120%;
    background-color: rgb(8, 8, 8, 0.5);
}

.text {
    text-align: center;
    color: #fdfdfd;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 10%;
}

footer {
    margin-top: 4%;
    text-align: center;
    color: #fdfdfd;
}

nav {
    position: fixed;
    z-index: 0;
    background: rgb(8, 8, 8, 0.8);
    height: 100%;
    width: 10%;
    padding-top: 5%;
    top: 0;
    left: 0;
    overflow: hidden;
}

nav a {
    color: #fdfdfd;
    display: block;
    font-weight: bold;
    padding: 6% 10% 6% 0%;
}

nav a:hover {
    color: #c0f7c4;
    background: rgb(8, 8, 8);
}

.wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: rgb(8, 8, 8, 0.8);
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    text-align: center;
}

.mainimg {
    float: left;
    width: 5%;
    height: 5%;
}

img {
    float: center;
    width: 25%;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 6%;
    margin-left: 10%;
}

.chess-board th {
    padding: .5em;
}

.chess-board th+th {
    border-bottom: 1px solid #000;
}

.chess-board th:first-child,
.chess-board td:last-child {
    border-right: 1px solid #000;
}

.chess-board tr:last-child td {
    border-bottom: 1px solid;
}

.chess-board th:empty {
    border: none;
}

.chess-board td {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 40px;
    line-height: 0;
}

.chess-board .light {
    background: #eee;
}

.chess-board .dark {
    background: #aaa;
}

.chess-board .yellow {
    background: rgb(251, 253, 145);
}

.chess-board .green {
    background: rgba(56, 243, 50, 0.685);
}

.chess-board .red {
    background: rgba(243, 50, 50, 0.685);
}

.rectangle {
    margin-top: 6%;
    float: right;
    width: 20%;
    height: 420px;
    background: #fbfbfc;
    border-radius: 1%;
    border: 2px solid #000;
}

button {
    float: right;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 20px;
    color: rgb(26, 25, 25);
}

button:hover {
    background-color: #fbfbfc;
}

button:active {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}