@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

a{ 
	text-decoration: none; 

}
.clearfix { 
	clear: both;
}

body { 
	font-family: 'Droid Serif', serif; 
	font-size: 120%; 
	background-color: rgb(8, 8, 8, 0.5);

}
text{
	text-align: center;
	color: #fdfdfd; 
}
p{
	
	color: #fdfdfd; 
}
.footer{
	margin-top: 100%;
}

nav {
	 background: rgb(8, 8, 8,0.8); 
	 margin: 0.7% 0;
	 width: 100%;	 
	 margin-top: 5%;
}
nav a { 
	color: #fdfdfd; 
	display: block; 
	float: left; 
	padding: 0.7%; 
	font-weight:bold;
	width: 13%;
	text-align: center;
}

nav a:hover { 
	background: rgb(8, 8, 8); 
    width: 13%; 
}

.mainimg{
	float: left;
}
img {
  float:center;
}

.chess-board { border-spacing: 0; border-collapse: collapse; }
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }


	 

